<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        EcoLoop
        {% endblock %}
    </title>

    <!-- Bootstrap -->

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css"
        rel="stylesheet">

    <!-- Font -->

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Base CSS -->

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css') }}">

    <!-- Layout CSS -->

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/layout.css') }}">

    {% block css %}

    {% endblock %}

</head>

<body>

<div class="app-wrapper">

    {% include "components/sidebar.html" %}

    <div class="main-container">

        {% include "components/topbar.html" %}

        <main class="page-content">

            {% block content %}

            {% endblock %}

        </main>

    </div>

</div>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
</script>

<script
src="https://cdn.jsdelivr.net/npm/chart.js">
</script>

<script
src="{{ url_for('static', filename='js/common.js') }}">
</script>

{% block js %}

{% endblock %}

</body>

</html>